@import url("https://fonts.googleapis.com/css?family=Comfortaa");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 3%;
}

.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
  background: #8f8eec;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.searchbtn .fas {
  position: absolute;
  background: #8f8eec;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
